
.App {
  text-align: center;
  background-color: #121212;
  color: white;
  min-height: 100vh;
  padding: 40px 10px;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.logo {
  width: 100px;
  margin-bottom: 20px;
}
